/opendaylight$ more ONFTappingApp.config
#Settings for the ONS Tapping Application
#Thu Feb 20 07:32:28 PST 2014
MongoDBPort=27017
MongoDBUsername=
MongoDBPassword=
www-rootdir=/home/wiretap/ONF-ODL/OpenDaylight/controller/opendaylight/distribution/opendaylight/target/distribution.opendaylight-os
gipackage/opendaylight/www/app
# End of file
